@import url('https://fonts.googleapis.com/css?family=Roboto Slab');

* {
    box-sizing: border-box;
}

body {
    background-color: #28223f;
    font-family: Montserrat, sans-serif;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h3 {
    margin: 10px 0;
}

h6 {
    margin: 7px 0;
    text-transform: uppercase;
}


p {
    font-size: 15px;
    line-height: 20px;
    margin: 14px;
    height: 60px;
    overflow: hidden;
}

.more {
    display: none;
}


.slider::after{
    content: "";
    display: table;
    clear: both;
}

@media screen and(max-width:600px)
{
    .container{
        width: 100%;
        display:block;
        margin-bottom: 20px;

    }
}
.container{
    width: 27%;
    padding:0px 10px;
    float: left;
    transition: 1s;
}

.container:hover{

    transform: scale(1.1);
    background-position: 200px 0;
}

.card-container {
    background:#f1f1f1;
    border-radius: 5px;
    max-width: 300px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #4a4c53;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 30px 10px 0px 10px;
    position: relative;
    text-align: center;
   
    
}

.card-container .round {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    border: 1px solid #f1f1f1;
    padding: 1px;
    background: #f1f1f1;
    text-align: center;
    object-fit: cover;
}

button.primary {
    margin: 0px 0px 10px 10px;
    box-sizing: border-box;
    background: linear-gradient(130deg, #2ab26f 0%, #0084ba 100%);;
    border: 1px solid #03bfcb;
    border-radius: 3px;
    color: #f1f1f1;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 3px;
    transition: 1s;
    text-align: left;
}

button.primary:hover{
    background-position: 200px 0;
    transform: scale(1.10);
}

button.primary.ghost {
    background-color: transparent;
    color: #f1f1f1;
}
